*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

a:link { text-decoration: none; } a:visited { text-decoration: none; } a:hover { text-decoration: none; } a:active { text-decoration: none; } 

html {
	cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 48" height="32" width="27"><text y="32" font-size="32">🦀</text><path d="M0,2 L0,0 L2,0" fill="black" /></svg>'), auto;
}

body {
    background: black;
    overflow: hidden;
}
.wrapper{overflow: hidden; position: relative; width: 100%;}

body, html {
    overflow-x: hidden;
    }

/************* SHAPES *************/
.shapecontainer{
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.shapeSurface{
    width: 100%;
    height: 10vh;
    position: absolute;
    left: 0%;
    top: -3%;
    background-image: linear-gradient(to top, transparent, rgba(120, 244, 253, 0.534)99%);
}
.shapeSurface2{
    width: 100%;
    height: 10vh;
    position: absolute;
    left: 0%;
    top: -5%;
    background-image: linear-gradient(to top, transparent, rgb(62, 168, 255)99%);
    border-radius: 20vh;
    opacity: 0.5;
}
.raycontainer{
    width: 100vw;
}
.rays {
    position: absolute;
    top: -10%;
    left: 51vw;
	width: 10vw;
	height: 110vh;
    background: conic-gradient(at 0% 0%,transparent 170deg,rgb(0, 238, 255) 0,rgb(233, 241, 255) 190deg, transparent 0);
    opacity: 0.02;
}
.rays1 {
    position: absolute;
    top: -20%;
    left: 36.6vw;
	width: 20vw;
	height: 190vh;
    background: conic-gradient(at 0% 0%,transparent 170deg,rgb(0, 238, 255) 0,rgb(233, 241, 255) 190deg, transparent 0);
    opacity: 0.02;
    transform: skew(0deg, 0deg) rotate(19deg);
}
.rays2 {
    position: absolute;
    top: -10%;
    left: 30vw;
	width: 10vw;
	height: 130vh;
    background: conic-gradient(at 0% 0%,transparent 170deg,rgb(0, 238, 255) 0,rgb(233, 241, 255) 190deg, transparent 0);
    opacity: 0.02;
    transform: skew(0deg, 0deg) rotate(35deg);
}
.rays3 {
    position: absolute;
    Top: -15%;
    left: 60vw;
	width: 16vw;
	height: 140vh;
    background: conic-gradient(at 0% 0%,transparent 170deg,rgb(0, 238, 255) 0,rgb(233, 241, 255) 190deg, transparent 0);
    opacity: 0.02;
    transform: skew(0deg, 0deg) rotate(-15deg);
}

/************* ANIMALS *************/
div#container {height:100vh;width:100vw;}

div.a, .b, .c {
width: 50px;
height:50px;
background-image: url(./img/jellyfish_1fabc.png);
background-size:3vh;
background-repeat: no-repeat;
position:absolute;
left: 100%;
top: 100%;
opacity: 0.8;    
}

div#sharkContainer {
        display: flex;
        justify-content: last baseline;
        position: absolute;
        bottom: -13.6%; /* this value tends to change over design span */
        clip-path: inset(0px 0px 20px 0px);
        left: 0%;
        overflow: hidden;
        width: inherit;
        z-index: 9;
    }

div.hunting {
    --gap: 300rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    width: 100%;
}

div.s {
    opacity: 1;
    flex-shrink: 0;
    display: flex;
    width: 100%;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 36s linear infinite;
    img {height: 500px; filter: brightness(0)};
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  /* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
    .marquee__content {
      animation-play-state: paused !important;
    }
  }
/************* CONTENT *************/
.swH1Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    margin: auto;
    color:aquamarine ;
}
.swH1 {
    display: flex;
    flex-direction: row;
    font-size: 4vh;
    width: max-content;
    text-align: center;
    margin: 1vh;
    opacity: 0.8;

}
.swH2Container {
    flex-direction: row;
    margin: 2vh;
    width: fit-content;
    height: 39vh;
    background-image: url(./img/h1u2VesnBuvXkGiaLQ.webp);
    background-size: 28vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    opacity: 0.8;
}
.swH2 {
    flex-direction: row;
    margin: 1vh;
    margin-top: 5vh;
    font-size: 2.5vh;
}
.swText {
    list-style:none;
    margin: 2vh;
    font-size: 1.8vh;
}

/************* FX *************/
section span
{
    position: absolute;
    bottom: -50px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.5);
    animation: animate 4s linear infinite;
}
section span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%, -70%);
    background: radial-gradient(#fff, transparent);
    border-radius: 50%;
}

    @keyframes animate
{
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    99%
    {
        opacity: 1;
    }
    100%
    {
        transform: translateY(-1600%);
        opacity: 0;
    }
}